__pycache__
node_modules
Temporary
timestamp
test

*.txt
*.ini
*.csv
*.json
*.pt
*.exe
*.pyc
*.class

*default

!DB.json
!chromedriver.exe

!PowerShell/Real-Esrgan-VideoUpscaler/*.exe
!PowerShell/Real-Esrgan-VideoUpscaler/tools/*.exe
PowerShell/Real-Esrgan-VideoUpscaler/realesrgan-models/*.html